In [26]:
import pandas as pd
import altair as alt
import numpy as np
from shapely.geometry import Point, MultiPoint

In [55]:
wheelsizes = {
    '650b': { 'circumference': 584,},
    '700c': { 'circumference': 622}
             }
wheelsizes = pd.DataFrame(wheelsizes).T.reset_index()
wheelsizes

  index  circumference
0  650b            584
1  700c            622

In [53]:
bikes = {'trek_710' : {'Seat Tube Length, C-T': 600,
            'Top Tube Length, Actual C-C': 575,
            'Top Tube Slope':0,
            'Head Tube Angle':73.5,
            'Seat Tube Angle':73,
            'Bottom Bracket Drop':72,
            'Chainstay Length':435,
            'Fork Offset/Rake':55,
            'Wheelbase':1028,
            'Fork A/C':365,
                
                      
                      
                      }
        }

In [54]:
df = pd.DataFrame(bikes).T.reset_index()
df

,index,Bottom Bracket Drop,Chainstay Length,Fork A/C,Fork Offset/Rake,Head Tube Angle,Seat Tube Angle,"Seat Tube Length, C-T","Top Tube Length, Actual C-C",Top Tube Slope,Wheelbase
0,trek_710,72.0,435.0,365.0,55.0,73.5,73.0,600.0,575.0,0.0,1028.0

In [ ]:
x = radius *  cos(angle)
y = radius *  sin(angle)

In [ ]:
bike_model = 'trek_710'
wheelsize = '650b'
tiresize = 42
axle_y = (wheelsizes.loc[wheelsizes['index'] == wheelsize, 'circumference']/(2*(np.pi))) + tiresize
rear_axle_x = 42 + 
bb = Point(0,(axle_y - df.loc[df['index'] == bike_model, 'Bottom Bracket Drop']))

seat_lug_x = bb.x + df.loc[df['index'] == bike_model, 'Seat Tube Length, C-T'] * np.cos(90 - df.loc[df['index'] == bike_model, 'Seat Tube Angle'])
seat_lug_y = bb.y - df.loc[df['index'] == bike_model, 'Seat Tube Length, C-T'] * np.sin(df.loc[df['index'] == bike_model, 'Seat Tube Angle'])
seat_lug = Point(seat_lug_x, seat_lug_y)

tt_ht_joint_x = (seat_lug.x + df.loc[df['index'] == bike_model, 'Top Tube Length, Actual C-C'])
tt_ht_joint = Point(tt_ht_joint_x, seat_lug.y)


rear_axle = Point( ,axle_y)
front_axle = Point( ,axle_y)
# ht_bot

0    92.946487
Name: circumference, dtype: float64

In [49]:
seat_lug.x

-165.09800283095817

In [50]:
tt_ht_joint.x

409.9019971690418

In [51]:
bike = MultiPoint(points = list([bb,
                               seat_lug,
                               tt_ht_joint,
                                ])
                 )
bike